# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Allow
!*glfw3.lib
!*vulkan-1.lib
!*VulkanMemoryAllocator.lib
!*VulkanMemoryAllocatord.lib
!*glslc.exe

#Ignore .vs folder and other generated folders
*.vs
*Engine/x64
*FPS/x64
*x64
*FPS/Log.txt
